In [12]:
list = ["水","金","地","火","木","土","天","海","冥"]

for i in range(2):
  print(list)

['水', '金', '地', '火', '木', '土', '天', '海', '冥']
['水', '金', '地', '火', '木', '土', '天', '海', '冥']

In [22]:
list = ["水","金","地","火","木","土","天","海","冥"]

i = 1

while list != "冥":
  if i == 3:
    break

  print(list)

  i = i + 1

['水', '金', '地', '火', '木', '土', '天', '海', '冥']
['水', '金', '地', '火', '木', '土', '天', '海', '冥']